# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env

# Jupyter Notebooks
.ipynb_checkpoints/

# Models & Data
# models/*.pt  # Uncomment to exclude models
# data/*.csv   # Uncomment to exclude datasets

# Logs
*.log

# OS
.DS_Store
Thumbs.db
